<!-- signup.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontsource-nanum-gothic@1.1.0/index.css">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Signup</title>
</head>
<body>
<div id="container">
    <h1 class="heading">회원가입</h1>
    <div class="scroll-container">
        <!-- 이메일 입력 -->
        <div class="input-wrapper">
            <label for="email">이메일</label>
            <div class="email-input-container">
                <input type="text" id="email" placeholder="이메일을 입력해주세요">
            </div>
        </div>

        <!-- 이름 입력 -->
        <div class="input-wrapper">
            <label for="name">이름</label>
            <input type="text" id="name" placeholder="이름을 입력해주세요">
        </div>

        <!-- 비밀번호 입력 -->
        <div class="input-wrapper">
            <label for="password">비밀번호</label>
            <input type="password" id="password" placeholder="비밀번호를 입력해주세요">
        </div>

        <!-- 비밀번호 확인 입력 -->
        <div class="input-wrapper">
            <label for="checkPw">비밀번호 확인</label>
            <input type="password" id="checkPw" placeholder="비밀번호 확인을 입력해주세요">
        </div>

        <div class="input-wrapper">
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" placeholder="닉네임을 입력해주세요">
        </div>

        <div class="input-wrapper">
            <label for="address">주소</label>
            <input type="text" id="address" placeholder="주소를 입력해주세요">
        </div>

        <button id="btn-ordinary">완료</button>
    </div>
</div>
</body>
</html>
